:host {        /*  'host' targets selector:client-info */
    display: block; /* Display client-info as block element */
    width: 500px;
    height: 630px;
    margin: 20px 5px 0px 5px;
    background-color:white !important;
    box-shadow:  0 0 5px #777777;
    border-radius:2px;
}