body {
    font-family: 'Franklin','Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}
button {
    height: 40px !important;
    width: 100px !important;
    border-radius: 3px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    letter-spacing: 0 !important;
    text-align: center !important;
}
.btn-reset {
    background-color: #062E54 !important;
    color: #FFFFFF !important;
}
.btn-save {
    background-color: #2e8540;
    color: #FFFFFF !important;
    float:right;
}