:host {
    font-size: 0.85em;
}
form{
    padding: 20px 25px 30px 25px;
}
label{
    display:block;
    font-weight:bold;
    padding-bottom:3px;
}
input{
    border-radius: 3px;
    margin-bottom:30px;
    border-width:1px;
    width:440px;
    height:20px;
}
input:focus{
    outline:none !important;
    border-color: #40c6de;
    box-shadow: 0px 0px 4px #40c6de;
}
select {
    height:25px;
    width:127px;
    margin-right:10px;
}
select:focus{
    outline:none !important;
    border-color: #40c6de;
    box-shadow: 0px 0px 4px #40c6de;
}
.select-group{
    margin-top:20px;
    margin-bottom:10px;
    border-color: #777777;
    border-radius:2px;
    display:block;
    position:relative;
    left:240px;
    width:250px;
}
#select-label{
    text-align: right;
    float:left;
    margin-right:5px;
    margin-top: 5px;
}