<div class='select-group'>
    <label for='selector' id='select-label'>Select a Client: </label>
    <select id='selector'
            (change)='onChange(selClientId)'
            [(ngModel)]='selClientId'>
        <option *ngFor='let client of clients'
            value={{client.id}}>
            {{client.name}}
         </option>
    </select>
</div>

<form [formGroup]='clientForm'>

    <label>Client ID</label>
    <input disabled type='text' formControlName='id'>

    <label>Client Name</label>
    <input disabled type='text' formControlName='name'>

    <label>Client Contact Email</label>
    <input type='email' formControlName='contactEmail'>

    <label>No Reply Email</label>
    <input type='email' formControlName='noReplyEmail'>

    <label>Service Phone Number</label>
    <input type='tel' formControlName='servicePhoneNumber'>

    <label>Lost/Stolen Card Phone Number</label>
    <input type='tel' formControlName='lostOrStolenPhoneNumber'>

    <br>
    <button id='reset' class='btn-reset' type='reset'>Reset</button>
    <button class="btn-save" type='submit' (click)='onSubmit(clientForm.value)'>Save
    </button>
</form>